<%= form_with(model: todo, class: 'form') do |form| %>
  <% if todo.errors.any? %>
    <div class="form-error-explanation alert alert--danger">
      <h2 class="h3"><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul class="list-inside list-disc">
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-input' %>
  </div>

  <div class="form-field">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-textarea', rows: 4 %>
  </div>

  <div class="form-field">
    <%= form.label :assignee, class: 'form-label' %>
    <%= form.select :assignee, %w[User1 User2 User3], {}, { class: 'form-select' } %>
  </div>

  <div class="form-field">
    <%= form.label :deadline, class: 'form-label' %>
    <%= form.date_field :deadline, class: 'form-input' %>
  </div>

  <div class="form-actions">
    <%= form.submit(class: 'button button--primary') %>
  </div>
<% end %>
