<%= render 'shared/notice' %>

<header class="mb-4 flex justify-between items-center gap-4">
  <h1 class="h1 mb-0">Todos <%= render 'count', finished_count: @finished_count, total_count: @total_count %></h1>
  <%= render 'progress', finished_count: @finished_count, total_count: @total_count %>
</header>

<table class="w-full" role="grid">
  <thead>
    <tr>
      <th></th>
      <th class="p-2 font-medium text-left">Title</th>
      <th class="p-2 font-medium text-left">Description</th>
      <th class="p-2 font-medium text-left">Assignee</th>
      <th class="p-2 font-medium text-left">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <%= render @todos %>
</table>

<footer class="mt-8">
  <%= link_to "New todo", new_todo_path, class: 'button button--primary' %>
</footer>
